

:root{
    --color-primary: #e74c3c;
    /* --color-danger: #ff7782; */
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-drak: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --color-background-hover: #ebeef2;
    --color-backgronud-hover-main: #03a9f4;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: "DM Sans", sans-serif !important;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    /* overflow: hidden; */
    text-decoration: none !important;
}

/* .container-fluid{
    width: 100%;
} */

a{
    color: var(--color-drak);
}

img{
    display: block;
    width: 100%;
    background-color: white;
}

/* h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
     font-size: 1.4rem;
 }

h3{
     font-size: 0.87rem;
 }

h4{
     font-size: 0.8rem;
 }

h5{
     font-size: 0.77rem;
 }

 small{
     font-size: 0.75rem;
 } */

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-drak);
}

/* .primary{
    color: var(--color-primary);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
} */

aside{
    position: fixed;
    left: 0;
    /* z-index: 999; */
    top: 0;
    width: 250px;
    height: 100%;
    background: var(--color-background);
}

aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0rem;
    background-color: white;
    width: 290px;
}

aside .logo{
    display: flex;
    gap: 0.8rem;
    background: var(--color-background);
}

/* aside .logo img{
    width: 2rem;
    height: 2rem;
} */

aside .close{
    display: none;
}

/*================== SIDEBAR ===============*/

aside .sidebar{
    background: white;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 290px;
    top: 0;
    left: 0;
}

aside h3{
    font-weight: 650;
    font-size: 17px;
    text-decoration: none;
}

aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 4.8rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.6rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position:absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    background: var(--color-background-hover);
    color: var(--color-primary);
    margin-left: 0;
    border-radius: var(--border-radius-2);
}

aside .sidebar a.active::before{
    /* content: ''; */
    width: 12px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: 2.6rem;
}

aside .sidebar a:hover{
    border-style: hidden;
    border-radius: var(--border-radius-2);
    background-color: var(--color-background-hover);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a:hover span{
    margin-left: 2.6rem;
}
#nav-toggle:checked + aside {
    width: 100px;
}

/* ========================== Main ====================== */
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 305px;
    min-height: 100vh;
    background: var(--color-background);
    transition: 0.5s;
}

/* ================================== header ============================== */
header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    /* color: #f0f0f0; */
    position: fixed;
    left: 290px;    
    width: calc(100% - 290px);
    top: 0;
    z-index: 10000;
}

#nav-toggle{
    display: none;
}

header label span{
    font-size: 1.7rem;
    padding-left: 1rem;
}

.search-wrapper{
    border: 1px solid #f0f0f0;
    border-radius: var(--border-radius-3);
    height: 45px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}

.search-wrapper input{
    height: 100%;
    padding: 1rem;
}

.user-wrapper{
    display: flex;
    align-items: center;
}

.user-wrapper img{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper h4{
    margin-bottom: 0rem !important;
    margin-right: 1rem;
}


/* ===================================== iconBox ============================== */
.cardBox{
    position: relative;
    margin-top: 85px;
    width: 100%;
    /* top: 45px; */
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    
}

.cardBox .card{
    position: relative;
    background: #e74c3c;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 10%;
}

.cardBox .card .number{
    position: relative;
    font-size: 2em;
    font-weight: 500;
}

.cardBox .card .cardName{
    color: white;
    font-size: 2em;
}

.cardBox .card .iconBox{
    font-size: 3.5em;
    color: var(--color-warning);
}

/* =============================================== table thống kê ===============================================  */

.details{
    position: relative;
    width: 100%;
    padding: 20px;
    padding-top: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr;
    /* background: white; */
}

.details .recentOrders{
    position: relative;
    display: grid;
    min-height: 530px;
    background: white;
    padding: 20px;
}

.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2{
    font-weight: 600 !important;
}

.bnt{
    position: relative;
    padding: 5px 10px;
    background: var(--color-primary-variant) !important;
    color: white !important;
    text-decoration: none !important;
    border-radius: var(--border-radius-3);
}

.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-family: poppins, sans-serif !important;
    font-size: 15px;
}

.details table thead td{
    font-weight: 600;
}

.details .recentOrders table tr{
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.details .recentOrders table tbody tr:last-child{
    border-bottom: none;
}

.details .recentOrders table tbody tr:hover{
    background: var(--color-backgronud-hover-main);
    color: var(--color-primary);
}

.details .recentOrders table tr td{
    padding: 9px 5px;
    font-size: 700;
}

.details .recentCustomers{
    position: relative;
    display: grid;
    min-height: 530px;
    background: white;
    padding: 20px;
}

.details .recentCustomers .imgBx{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.details .recentCustomers .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details .recentCustomers table tr td h4 span{
    font-size: 14px;
    color: var(--color-info-dark);
}

.details .recentCustomers table tr:hover,
.details .recentCustomers table tr:hover td h4 span{
    background: var(--color-backgronud-hover-main);
    color: var(--color-primary);
}

.details .recentCustomers table tr td{
    padding: 7px 10px;
}

.details .recentCustomers table tr td h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}

/* ========================== MEDIA QUERIES ====================== */
@media screen and (max-width: 992px) {
    aside{
        left: -300px;
    } 
    aside .sidebar{
        left: 0;
    }
    .main{
        width: 100%;
        left: 0;
    }   
}

